<div class="contact container-fluid">
    <div *ngFor='let contact of contacts' class="contact-list">
        <div  routerLink="/{{contact.user_name}}"  class="row user">
            <div class="dp m-2">
                <img [src]="contact.dp">
            </div>
            <div class="name">
                <h3 class="font-weight-bold text-primary m-3">{{contact.user_name}}</h3>
                <div class="row m-3">
                    <h6 class="text-primary ">{{contact.status}}</h6>
                <p class="text-secondary"> {{ contact.date | date }}</p>
                </div>
            </div>
        </div>
        <!-- <div class="row user">
            <div class="dp m-2"></div>
            <div class="name">
                <h3 class="font-weight-bold text-primary m-3">James Bond</h3>
                <h6 class="text-primary m-3">Lorem ipsum dolor  Vero, nostrum.</h6>
            </div>
        </div>
        <div class="row user">
            <div class="dp m-2"></div>
            <div class="name">
                <h3 class="font-weight-bold text-primary m-3">James Bond</h3>
                <h6 class="text-primary m-3">Lorem ipsum dolor  Vero, nostrum.</h6>
            </div>
        </div>
        <div class="row user">
            <div class="dp m-2"></div>
            <div class="name">
                <h3 class="font-weight-bold text-primary m-3">James Bond</h3>
                <h6 class="text-primary m-3">Lorem ipsum dolor  Vero, nostrum.</h6>
            </div>
        </div>
        <div class="row user">
            <div class="dp m-2"></div>
            <div class="name">
                <h3 class="font-weight-bold text-primary m-3">James Bond</h3>
                <h6 class="text-primary m-3">Lorem ipsum dolor  Vero, nostrum.</h6>
            </div>
        </div>
        <div class="row user">
            <div class="dp m-2"></div>
            <div class="name">
                <h3 class="font-weight-bold text-primary m-3">James Bond</h3>
                <h6 class="text-primary m-3">Lorem ipsum dolor  Vero, nostrum.</h6>
            </div>
        </div>
        <div class="row user">
            <div class="dp m-2"></div>
            <div class="name">
                <h3 class="font-weight-bold text-primary m-3">James Bond</h3>
                <h6 class="text-primary m-3">Lorem ipsum dolor  Vero, nostrum.</h6>
            </div>
        </div>
        <div class="row user">
            <div class="dp m-2"></div>
            <div class="name">
                <h3 class="font-weight-bold text-primary m-3">James Bond</h3>
                <h6 class="text-primary m-3">Lorem ipsum dolor  Vero, nostrum.</h6>
            </div>
        </div> -->
    </div>
</div>