

<div class="container blog">

    <div *ngFor='let post of posts; let i = index'>
                
        <div *ngFor='let contact of contacts'>

            <div class="d-flex card mb-3">
        
                <div class="card-title row">
                    <div class="dp m-3 ml-4">
                        <img [src]="contact.dp">
                    </div>
                    <div class="card-name mt-4">
                        <h5 class="text-primary font-weight-bold">{{contact.user_name}}</h5>
                        <p class="text-secondary">1 Hour Ago</p>
                    </div>
                </div>
        
                <div class="card-img-top">
                    <img [src]="post.poster">
                </div>
                

                <div class="card-text icons m-2 row justify-content-around mb-4">
                    <div class="icon m-2 pl-4 row">
                        <fa-icon [icon]="heart" class="like" (click)="onLike(i)" [ngClass]="like ? 'text-danger' : '' "></fa-icon>
                        <p class="m-2">{{count}}</p>
                    </div> 
                    <fa-icon [icon]="comment" class="icon m-2 pl-4"></fa-icon>
                    <fa-icon [icon]="share" class="icon m-2 pl-4"></fa-icon>
                </div>
        
            </div>
        
        
        </div>

    </div>

</div>

